<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employer</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="/" class="button">Home</a>
    <a href="/employers" class="button">Employers list</a>
</header>
<h3>New employer creation form</h3>
<form class="small_form2">
    <h1>Name</h1>
    <h1>Commands</h1>
</form>

<form class="small_form2" method="post">
    <input type="text" name="firstname">
    <div class="add_buttons">
        <button name="add" type="submit" formaction="/employeradd">add</button>
    </div>
</form>
</body>
</html>