<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post">
    <label for="username">Username:
        <input id="username" type="text" name="username">
    </label><br>
    <label for="rawPassword">Password:
        <input id="rawPassword" type="password" name="rawPassword">
    </label><br>
        <div th:each="role : ${roles}">
            <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
            <label th:for="${role}" th:text="${role}">Role name</label>
        </div>
    <button type="submit">Register</button>
</form>
</body>
</html>