<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="/" class="button">Home</a>
    <a href="/tasks" class="button">Task list</a>
</header>
<h3>New task creation form</h3>
<form class="small_form">
    <h1>Description</h1>
    <h1>Commands</h1>
</form>

<form class="small_form" method="post">
    <input type="text" name="description">
    <div class="add_buttons">
        <button name="add" type="submit" formaction="/add">add</button>
    </div>
</form>
</body>
</html>