<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="/" class="button">Home</a>
    <a href="/new" class="button">Add User</a>
</header>
<h3>Users list:</h3>
<form class="large_form">
    <h1>Id</h1>
    <h1>Name</h1>
    <h1>Age</h1>
    <h1>Email</h1>
    <h1>Commands</h1>
</form>

<form class="large_form" th:each="user: ${users}" method="post">
    <p th:text="${user.id}"></p>
    <input type="text" th:value="${user.name}" name="name">
    <input type="text" th:value="${user.age}" name="age">
    <input type="text" th:value="${user.email}" name="email">
    <div class="control_buttons">
        <input type="hidden" name="id" th:value="${user.id}"/>
        <button type="submit" formaction="/edit">edit</button>
        <button type="submit" formaction="/delete">delete</button>
    </div>
</form>
</body>
</html>